<div class="comment_show">
Comment: <%= comment.description %><br>
<%= link_to 'Edit', edit_post_comment_path(@post, comment)%>
<%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure ?' } %>
</div><br>