<%= form_with(model: [@post, @comment], remote: (action_name == 'create')) do |form| %>

  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :post_id, :value => @post.id %>
  <div class="field">
    <%= form.label :'Add New Comment :' %>
    <%= form.text_area :description %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div><br>
<% end %>
