<% if @comment.save %>
  $('#newcomment').append("<%= j render(:partial => 'comments_display', locals: {comment:  @comment}) %>");
<% else %>
	$('#error').text("<%= j render(:partial => 'errors_display', locals: {comment:  @comment}) %>");
<% end %>
