<h1> All Posts</h1>

<table>
  <% @posts.each_slice(5) do |posts| %>
    <tr>
      <div class="row">
        <% posts.each do |post| %>
          <td>
            <div class="<%= post.public? ? 'public' : 'private' %>">
              <%= render 'posts/post_display', post: post %>
              <%= link_to 'Show', post_path(post) %>
            </div><br>
          </td>
        <% end %>
      </div>
    </tr>
  <% end %>
</table>
<%== pagy_nav(@pagy) %> </p>