<%= form_with(model: post, remote: true) do |form| %>
  
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div><br>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div><br>

  <div class="field">
    <%= form.label :post_type %>
    <%= form.radio_button :post_type, 'public', :checked => true %>
    <%= label :post_type, 'public' %>
    <%= form.radio_button :post_type, 'private' %>
    <%= label :post_type, 'private' %>
  </div><br>

  <div class="btn btn-outline-info">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div><br>
<% end %>
