<% if post.image.attached? %>
  <%= image_tag post.image, style:"width:150px; height:100px" %><br>
<% else %>
  <%= image_tag ("/assets/na.jpg"), style:"width:150px; height:100px" %><br>
<% end %>

Post Name: <%= post.name %><br>
Post Description: <%= post.description %><br>
Post Comments: <%= post.no_of_comments %><br>
