<h1>Your Posts...</h1>

<%= link_to 'Create new Post', new_post_path %><br></br>

<table>
  <% @posts.each_slice(5) do |posts| %>
    <tr>
      <% posts.each do |post| %>
        <td>
          <div class="<%= post.public? ? 'public' : 'private' %>">
            <%= render 'post_display', post: post %>
            <%= link_to 'Show', post_path(post) %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Delete', post_path(post), method: :delete,
                data: { confirm: 'Are you sure want to delete?' } %>
          </div><br>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<%== pagy_nav(@pagy) %>