<div class="post_show">
  <%= render 'post_display', post: @post %><br></br>
  <% if current_user %>
    <% if @post.user_id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Delete', post_path(@post), method: :delete,
      data: {confirm: 'Are you sure want to delete?'} %><br>
    <% end %>
  <% end %>

  <%= link_to image_tag("/assets/like.png", :size => "100x40"), like_post_path(@post), method: :put, remote: true %>
  <%= @post.get_upvotes.size %><br>
  <%= link_to image_tag("/assets/dislike.png", :size => "100x40"), dislike_post_path(@post), method: :put, remote: true %>
  <%= @post.get_downvotes.size %><br>
</div>

<% if @comment.present? %>
  <h2>Comments of This Post ...</h2>
  <% @comments.each do |comment| %>
    <div class="comment_show">
      Comment: <%= comment.description %><br>

      <%= link_to image_tag("/assets/like2.png", :size => "30x30"), like_post_comment_path(@post, comment), method: :put, remote: true %>
      <%= comment.get_upvotes.size %>
      <%= link_to image_tag("/assets/dislike2.png", :size => "40x40"), dislike_post_comment_path(@post, comment), method: :put, remote: true %>
      <%= comment.get_downvotes.size %><br>
      <% if current_user %>
        <% if comment.user_id == current_user.id %>
          <%= link_to 'Edit', edit_post_comment_path(@post, comment)%>
          <%= link_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure ?' } %>
        <% end %>
      <% end %>
    </div><br>
  <% end %>
<% end %>  

<div id="newcomment"></div>
<div id="error"></div>

<%= render 'comments/form',  post_id: @post, comment: @comment %>
<%= link_to 'Back', root_path %><br></br>
