/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */ 
 @import "bootstrap";

.public {
  border-style: dashed;
  border-width: thin;
  width: 200px;
  height: 300px
}

.private {
  border-style: dashed;
  border-width: thin;
  border-color: #ff0000;
  width: 200px;
  height: 300px
}

.post_show {
	border-style: solid;
	border-width: medium;
	width: 300px;
  color: #0000ff
}

.comment_show {
	border-style: dashed;
	border-width: thin;
	width: 300px
}

.background {
  background-image: url(/assets/ws.jpg);
  background-size: cover
}

.footer {
  position: auto;
}