<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/home#index">Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <%#= link_to 'Globat Chat', notifications_path, method: :get, class: "nav-link inactive"%>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <% if current_user %>
              <li class="nav-item">
                <%= link_to "My Posts", posts_path, class: "nav-link active" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "My posts", posts_path, class: "nav-link disabled" %>
              </li>
            <% end %>
          </ul>

          <form class="form-inline mt-md-0">
            <% if current_user %>
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> N
                </button>
                <div class="dropdown-menu", style="width: 300px">
                  <% @comments.each do |comment| %>
                    <% if comment.post_id == current_user.posts.ids %>
                      <%= link_to comment.description, post_path(comment.post_id) %> created by "<%= User.find(id = comment.user_id).user_name %>" for "<%=  Post.find(id = comment.post_id).name %>" post
                      <div class="dropdown-divider"></div>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <a class="nav-link" style="color: #ff0000"><%= current_user.email %></a>
              <%= link_to 'Signout', destroy_user_session_path, method: :delete, class: 'btn btn-outline-success my-2 my-sm-0' %>
              <% if current_user.avatar.attached? %>
                <a class="navbar-brand" href="/devise/registrations#edit">
                  <%= image_tag current_user.avatar, class: 'img-responsive', id: "user_avatar" %>
                </a>
              <% else %>
                <a class="navbar-brand" href="/devise/registrations#edit">
                  <%= image_tag ("/assets/us.png"), class: 'img-responsive', id: "user_avatar", :size => "45x45" %>
                </a>
              <% end %>
            <% else %>
              <%= link_to 'Signin', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
            <% end %>
          </form>
        </div>
      </nav>
    </header>
    
    <% flash.each do |type, message| %>
      <%
        next unless message
        level = case type
          when 'notice' then 'success'
          when 'alert'  then 'error'
          when 'info'   then 'info'
          when 'warn'   then 'warn'
        end
      %>
      <script>iziToast.show({position: 'center', message: '<%=j message.html_safe %>'});</script>
    <% end %>

    <div class="container pt-3">
      <div class="row justify-content-sm-left" >
        <div class="col-md-<%= yield(:container_width).presence || '4' %>">
          <%= yield %>
        </div>
      </div>
    </div>

    <footer class="footer fixed-bottom">
      <div class='container'>
        <span class="text-muted">Project 2019, All Right Reserved</span>
      </div>
    </footer>

  </body>
</html>
